
@use 'colors' as c
@use 'fonts' as f



*, *::before, *::after
  font: inherit
  margin: 0
  padding: 0
  box-sizing: border-box


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list']
  list-style: none


/* Set core root defaults */
html:focus-within
  scroll-behavior: smooth


/* Set core body defaults */
body
  min-height: 100vh
  text-rendering: optimizeSpeed
  line-height: 1.5


/* A elements that don't have a class get default styles */
a:not([class])
  text-decoration-skip-ink: auto


/* Make images easier to work with */
img,
picture
  max-width: 100%
  display: block


/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce)
html:focus-within
  scroll-behavior: auto


*,
*::before,
*::after
  animation-duration: 0.01ms !important
  animation-iteration-count: 1 !important
  transition-duration: 0.01ms !important
  scroll-behavior: auto !important

*
  font-family: f.$family
body
  background-color: c.$primary-600
  color: c.$white
  margin: 3rem 0
  .hidden
    display: none

  header .wrapper
    display: flex
    gap: 80px
    justify-content: space-between
    align-items: center
    padding: 0 1.5rem
    margin: 0 auto 5rem

.hero
  height: 407px
  width: 100%
  padding: 0 1.5rem
  background-image: url("../assets/bg-pattern-home-2.svg")
  background-position: bottom left 10px
  background-repeat: no-repeat
  @media only screen and (min-width: 768px)
    height: 476px
    background-position: bottom center
  h1
    max-width: 248px
    margin: 0 auto 1.125rem auto
    font: 700 40px/40px f.$family
    line-height: 40px
    font-size: 40px
    text-align: center
    @media only screen and (min-width: 768px)
      font: 700 64px/56px f.$family
      max-width: 350px
    & span
      color: c.$accent
  p
    font: 15px/28px f.$family
    text-align: center
    line-height: 28px
    font-weight: 600
    @media only screen and (min-width: 768px)
     max-width: 457px
     margin: 0 auto



.features-section .wrapper
  width: 100%
  background-color: c.$primary-800
  height: 100%
  padding: 64px 1.5rem
  background-image: url("../assets/bg-pattern-home-3.svg")
  background-repeat: no-repeat
  background-position: top right -100px
  display: flex
  flex-direction: column
  gap: 3rem
  justify-content: center
  @media only screen and (min-width: 768px)
    padding: 100px 98px
    gap: 2rem
  .feature:not(:last-child)
    margin-bottom: 2rem
  h2
    color: c.$white
    font: 700 32px/32px f.$family
    max-width: 240px
    padding-top: 2rem
    position: relative
    @media only screen and (min-width: 768px)
      max-width: 445px
      margin-bottom: 64px
    &:before
      content: ''
      width: 50px
      height: 4px
      background-color: c.$accent
      position: absolute
      top: 0
  .feature
    @media only screen and (min-width: 768px)
      display: flex
      gap: 1.5rem
      .desc
        h3, p
          text-align: start
        h3
          margin-bottom: 1rem
    img
      margin: 0 auto
      width: 72px
      height: 72px
    h3
      width: 100%
      text-align: center
      font: 700 18px/28px f.$family
      color: c.$accent
      margin-bottom: 8px
    p
      text-align: center
      width: 100%
      font: 600 15px/25px f.$family

.testimonials-section .wrapper
  width: 100%
  height: 100%
  padding: 100px 97px
  background-color: c.$primary-700
  background: url("../assets/bg-pattern-home-4-about-3.svg") no-repeat top left, url("../assets/bg-pattern-home-5.svg") no-repeat bottom right
  h2
    font: 700 32px/32px f.$family
    margin-bottom: 3rem
    text-align: center
    @media only screen and (min-width: 768px)
      max-width: 451px
      margin-inline: auto


    span
      color: c.$primary-100
  .testimonial
    position: relative
    margin-bottom: 3rem
    .quoteImg
      position: relative
      top: 18px
      margin: 0 auto
    .author
      width: 100%
      text-align: center
      font: 700 18px/28px f.$family
      color: c.$primary-100
    .quote
      position: relative
      font: 600 15px/25px f.$family
      margin-bottom: 1rem
      text-align: center
    .avatar
      width: 62px
      height: 62px
      border-radius: 50%
      border: 2px solid c.$primary-100
      margin: 0 auto
      img
        border-radius: 50%
    .title
      font-style: italic
      font: 13px/18px f.$family
      text-align: center
      margin-bottom: 1rem
.contact-us-section .wrapper
  display: flex
  width: 100%
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 1.5rem
  padding: 83px 1.5rem
  background-color: c.$accent
  color: c.$primary-800
  background-image: url("../assets/bg-pattern-home-6-about-5.svg")
  background-repeat: no-repeat
  background-position: bottom -22px left
  @media only screen and (min-width: 768px)
    flex-direction: row
    align-items: center
    justify-content: center
    gap: 84px
  h2
    font: 700 32px/32px f.$family
    text-align: center
    margin-bottom: 1.5rem
    @media only screen and (min-width: 768px)
      margin-bottom: 0
      text-align: start
      width: auto

.btn
  border: 2px solid
  font: 600 18px/28px f.$family
  height: 48px
  width: 153px
  display: inline-block
  border-radius: 50px
  background: none
  &-dark
    color: c.$primary-900
    border: 2px solid c.$primary-900
    &:hover
      color: c.$white
      border: c.$white
      background-color: c.$primary-800
  &-light
    color: c.$white
    border-color: c.$white

footer
  .wrapper
    padding: 66px 1.5rem
    display: flex
    flex-direction: column
    justify-content: center
    gap: 1.5rem
    align-items: center
    background-color: c.$primary-900
    width: 100%
    height: 100%
    @media only screen and (min-width: 768px)
      .top
        width: 100%
        display: flex
        justify-content: space-between
      .top-left
        justify-content: space-between
        display: flex
        flex-direction: column
    .top-left
      text-align: center
    .logo
      width: 96px
      margin: 0 auto 1.5rem

    nav ul
      display: flex
      justify-content: center
      gap: 24px
      margin-bottom: 1.5rem
      a
        color: c.$white
        text-decoration: none
    .address
      display: flex
      flex-direction: column
      justify-content: center
      align-content: center
      text-align: center
      gap: 12px
      font: 600 15px/25px f.$family
      margin-bottom: 24px
    .bottom
      display: flex
      flex-direction: column
      align-items: center
      gap: 1rem
      @media only screen and (min-width: 768px)
        flex-direction: row
        justify-content: space-between
        width: 100%
    .socials
      display: flex
      gap: 1rem

#navigation
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  ul
    list-style: none
    display: flex
    gap: 40px
    align-items: center
    a
      text-decoration: none
      color: white
      font: 600 18px/28px f.$family


.wrapper
  max-width: 1110px
  margin: 0 auto